<a href="https://colab.research.google.com/github/chiragsable/FES-Research-Work/blob/main/Hate_Speech_3_Item1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Hate Speech Jupyter Notebook

Author: Chirag Sable

This notebook explores the Hate Speech and Offensive Language Dataset

In [1]:
import json
import pandas as pd

#Libraries

In [2]:
hate_speech = pd.read_csv('https://raw.githubusercontent.com/chiragsable/FES-Research-Work/main/Hate%20Speech%20and%20Offensive%20Language%20Dataset/labeled_data.csv')

In [3]:
hate_speech.drop(['Unnamed: 0'], axis=1, inplace=True)

In [4]:
hate_speech.head()

   count  hate_speech  ...  class                                              tweet
0      3            0  ...      2  !!! RT @mayasolovely: As a woman you shouldn't...
1      3            0  ...      1  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2      3            0  ...      1  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3      3            0  ...      1  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4      6            0  ...      1  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

[5 rows x 6 columns]

In [5]:
hate_speech['class'].value_counts()

1    19190
2     4163
0     1430
Name: class, dtype: int64

In [6]:
hate_speech['hate_speech'].value_counts()

0    19790
1     3419
2     1251
3      287
4       21
5        7
6        5
7        3
Name: hate_speech, dtype: int64

In [7]:
hate_speech.info()

#This dataframe has 6 columns and 24783 rows.
#Column 1 - Count 
#Column 2 - Hate_speech
#Column 3 - Offensive_language
#Column 4 - Neither
#Column 5 - Class
#Column 6 - Tweet

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24783 entries, 0 to 24782
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   count               24783 non-null  int64
 1   hate_speech         24783 non-null  int64
 2   offensive_language  24783 non-null  int64
 3   neither             24783 non-null  int64
 4   class               24783 non-null  int64
 5   tweet               24783 non-null  object
dtypes: int64(5), object(1)
memory usage: 1.1+ MB

In [8]:
hate_speech.describe()

#Generates descriptive statistics

              count   hate_speech  ...       neither         class
count  24783.000000  24783.000000  ...  24783.000000  24783.000000
mean       3.243473      0.280515  ...      0.549247      1.110277
std        0.883060      0.631851  ...      1.113299      0.462089
min        3.000000      0.000000  ...      0.000000      0.000000
25%        3.000000      0.000000  ...      0.000000      1.000000
50%        3.000000      0.000000  ...      0.000000      1.000000
75%        3.000000      0.000000  ...      0.000000      1.000000
max        9.000000      7.000000  ...      9.000000      2.000000

[8 rows x 5 columns]

In [9]:
hate_speech.hate_speech.value_counts()

0    19790
1     3419
2     1251
3      287
4       21
5        7
6        5
7        3
Name: hate_speech, dtype: int64

In [10]:
hate_speech.offensive_language.value_counts()

3    13383
2     4246
0     3475
1     2066
6      857
5      369
4      251
9       66
8       37
7       33
Name: offensive_language, dtype: int64

In [11]:
hate_speech.neither.value_counts()

0    18892
3     2790
1     1694
2     1200
6      103
5       54
4       35
9        5
8        5
7        5
Name: neither, dtype: int64

In [12]:
df = hate_speech.sample(frac = 0.2)

In [13]:
df.reset_index(drop=True, inplace=True)
df.head(10)

   count  hate_speech  ...  class                                              tweet
0      3            0  ...      1  RT @LameAssNerd: Braxton Curti a hoe ass nigga...
1      3            0  ...      1          deal with you bitches when I feel like it
2      3            0  ...      1  Reading the ut sexual assault case takes me ba...
3      3            1  ...      1  And when I say DOH DOH DOH DOH bitch that be Kdot
4      3            0  ...      2  They were taking a picture and I saw a bird fl...
5      3            0  ...      1  I'm about to push this niggah off my seat tryi...
6      3            0  ...      1            @NyJusDntGAF to late niggers died first
7      3            0  ...      2  RT @wleerpcv: My Chinese social media feed is ...
8      3            0  ...      1  &#127850; RT @Ms_SadaClay: I love salad RT&#82...
9      3            0  ...      1  RT @CarterBoy_leake: If you fucked in car befo...

[10 rows x 6 columns]

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4957 entries, 0 to 4956
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   count               4957 non-null   int64
 1   hate_speech         4957 non-null   int64
 2   offensive_language  4957 non-null   int64
 3   neither             4957 non-null   int64
 4   class               4957 non-null   int64
 5   tweet               4957 non-null   object
dtypes: int64(5), object(1)
memory usage: 232.5+ KB

Let's write this data exerpt into a CSV file:<br>
1. Use the pandas method to_csv() to extract the file.<br>
2. Let us name the file as Ethos_Data_Exerpt.csv<br>
3. The file will be stored in the files directory of Google Colab.<br>
4. To download it locally, head into the files directory and select Download.

In [15]:
df.to_csv('Hate_Speech_Offensive_Language.csv', index=False)