<a href="https://colab.research.google.com/github/chiragsable/FES-Research-Work/blob/main/Hate_Speech_2_Item10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Hate Speech Jupyter Notebook

Author: Chirag Sable

This notebook explores the Fox News Dataset

In [ ]:
import json
import pandas as pd

#Libraries

In [ ]:
fox_news_df = pd.read_json('https://raw.githubusercontent.com/sjtuprog/fox-news-comments/master/fox-news-comments.json', lines=True)

#The dataset URL

In [ ]:
fox_news_df.head()

                                               title  ... prev
0  German lawmakers approve 'no means no' rape la...  ...
1  German lawmakers approve 'no means no' rape la...  ...
2  German lawmakers approve 'no means no' rape la...  ...
3  German lawmakers approve 'no means no' rape la...  ...
4  German lawmakers approve 'no means no' rape la...  ...

[5 rows x 8 columns]

In [ ]:
from pandas.core.algorithms import value_counts
fox_news_df['label'].value_counts()

0    1093
1     435
Name: label, dtype: int64

In [ ]:
from pandas.core.reshape.concat import concat
df1 = fox_news_df[(fox_news_df['label']==1)].sample(frac=0.1)
df0 = fox_news_df[(fox_news_df['label']==0)].sample(frac=0.1)
df = pd.concat([df1,df0])

In [ ]:
from sklearn.utils import shuffle
df = shuffle(df)

In [ ]:
df.reset_index(drop=True, inplace=True)

In [ ]:
df.info()

#This dataframe has 8 columns and 153 rows.
#Column 1 - Title 
#Column 2 - Text
#Column 3 - Label (1-Hatespeech, 0-not hatespeech)
#Column 4 - Successor comment
#Column 5 - Meta description of the news article
#Column 6 - User
#Column 7 - Mentions
#Column 8 - Previous comment

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   title     153 non-null    object
 1   text      153 non-null    object
 2   label     153 non-null    int64
 3   succ      153 non-null    object
 4   meta      153 non-null    object
 5   user      153 non-null    object
 6   mentions  153 non-null    object
 7   prev      153 non-null    object
dtypes: int64(1), object(7)
memory usage: 9.7+ KB

In [ ]:
df.describe()

#Generates descriptive statistics

            label
count  153.000000
mean     0.287582
std      0.454122
min      0.000000
25%      0.000000
50%      0.000000
75%      1.000000
max      1.000000

In [ ]:
df['label'].value_counts()

#It returns counts of unique values for the specified series

0    109
1     44
Name: label, dtype: int64

Let's write this data exerpt into a CSV file:<br>
1. Use the pandas method to_csv() to extract the file.<br>
2. Let us name the file as Ethos_Data_Exerpt.csv<br>
3. The file will be stored in the files directory of Google Colab.<br>
4. To download it locally, head into the files directory and select Download.

In [ ]:
df.to_csv('Fox_News_Data_Exerpt.csv', index=False)