<a href="https://colab.research.google.com/github/chiragsable/FES-Research-Work/blob/main/hate%20speech%20mlma/Hate_Speech_Item5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Hate Speech Jupyter Notebook

Author: Chirag Sable

This notebook explores the Multilingual and Multi-Aspect Hate Speech Dataset

In [1]:
import json
import pandas as pd

#Libraries

In [2]:
hs = pd.read_csv('https://raw.githubusercontent.com/chiragsable/FES-Research-Work/main/hate%20speech%20mlma/en_dataset.csv')

In [4]:
hs.drop(['HITId'], axis=1, inplace=True)

In [7]:
hs.head()

                                               tweet  ...          group
0             call sis im boy girl still faggot shut  ...            gay
1               @user @user legit nilas retarded idk  ...  special_needs
2                                   said retard @url  ...  special_needs
3  america another 8 years obama's ideology via h...  ...          other
4                @user don... fucking made cry twat.  ...          women

[5 rows x 6 columns]

In [8]:
hs['directness'].value_counts()

indirect    5078
direct       569
Name: directness, dtype: int64

In [11]:
hs.info()

#This dataframe has 6 columns and 5646 rows.
#Column 1 - tweet 
#Column 2 - sentiment
#Column 3 - directness
#Column 4 - annotator_sentiment
#Column 5 - target
#Column 6 - group

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5647 entries, 0 to 5646
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   tweet                5647 non-null   object
 1   sentiment            5647 non-null   object
 2   directness           5647 non-null   object
 3   annotator_sentiment  5647 non-null   object
 4   target               5647 non-null   object
 5   group                5647 non-null   object
dtypes: object(6)
memory usage: 264.8+ KB

In [13]:
hs['group'].value_counts()

other               1590
special_needs       1571
women                878
individual           497
left_wing_people     177
refugees             171
gay                  163
immigrants           130
hispanics            105
muslims              101
african_descent       86
indian/hindu          83
asians                61
jews                  24
arabs                  6
christian              4
Name: group, dtype: int64

In [15]:
# The major target group is of special_needs and then comes women and individual. Other groups include different communities

In [14]:
hs['target'].value_counts()

origin                2448
disability            1089
other                  890
gender                 638
sexual_orientation     514
religion                68
Name: target, dtype: int64

In [16]:
# Most of the target is disability and then comes gender and sexual_orientation

In [17]:
df = hs.sample(frac = 0.2)

In [18]:
df.reset_index(drop=True, inplace=True)
df.head(10)

                                               tweet  ...          group
0  shut fat sweaty mongoloid. never get higher d....  ...  special_needs
1                   @user @user look like dyke bruh   ...          women
2                         @user r word? mean retard?  ...  special_needs
3                        i'm ur motivation twat @url  ...          women
4  @user @user ='shithole x countriesn= rapists b...  ...     immigrants
5  @user @user @user @user runaway spic. ohhh im ...  ...          other
6              marko cunt.nntell something new. @url  ...          other
7                      old guy bangs young twat @url  ...          women
8                                        right twat?  ...          women
9                                 @user see retarded  ...  special_needs

[10 rows x 6 columns]

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1129 entries, 0 to 1128
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   tweet                1129 non-null   object
 1   sentiment            1129 non-null   object
 2   directness           1129 non-null   object
 3   annotator_sentiment  1129 non-null   object
 4   target               1129 non-null   object
 5   group                1129 non-null   object
dtypes: object(6)
memory usage: 53.0+ KB

Let's write this data exerpt into a CSV file:<br>
1. Use the pandas method to_csv() to extract the file.<br>
2. Let us name the file as Hate_Speech_MLMA.csv<br>
3. The file will be stored in the files directory of Google Colab.<br>
4. To download it locally, head into the files directory and select Download.

In [20]:
df.to_csv('Hate_Speech_MLMA.csv', index=False)